[mysqld]
ssl-ca=/var/lib/mysql/cacert.pem
ssl_cert=/var/lib/mysql/fullchain.pem
ssl_key=/var/lib/mysql/privkey.pem

[client]
#ssl-ca=/var/lib/mysql/cacert.pem
#ssl-cert=/var/lib/mysql/fullchain.pem
#ssl-key=/var/lib/mysql/privkey.pem
